In [ ]:
Store, Item, Customer

# 1. AbCustomer -> Customer(상속)
# 2. Person <- Customer(Person)

In [ ]:
class Store:
    def __init__(self, customer):
        self.customer = customer
        self.item = item
        self.item_list = self.item.name, self.item.price

class Item:
    name
    cnt
    price

    pass

class Seller:

### 매직메소드
- special method
- _ _ \ _ _ : 특별한 용도
- str, repr

In [ ]:
class Customer:
    def __init__(self, name):
        self.name = name

    def __str__(self):
        # print() 함수로 나온 출력 값을 변경하는 것

        return self.name

    def __repr__(self):
        # 설정 안하면 __str__과 동일 함
        # 인스턴스 출력하는 방식 => 사용자가 이해하는 객체의 모습을 표현
        return f'Customer({self.name})' ### Customer(객체이름)

c = Customer('kim')
c

Customer(kim)

### NamedTuple, DataClass
- 객체보다 효율적임(간단한 속성만 가진 클래스일 경우 활용)
- 딕셔너리 키 처럼 사용 가능하다
- 불변 객체

In [ ]:
# 메서드 없을 때 단순화
from collections import namedtuple

Customer = namedtuple('Customer', 'name age')
a = Customer('lee',44)
a.name, a.age

('lee', 44)

In [ ]:
from dataclasses import dataclass
# 3.7 이상에서만

@dataclass
class Customer2:
    name: str
    age: int

b = Customer2('hong', 88)
b.name, b.age

('hong', 88)

## 함수 2
- *, * *
- 일급객체
- 내부함수, 클로저
- 익명함수
- 제네레이터
- 재귀함수

In [ ]:
def print_args(*args): # 여러 개의 인자 받을 수 있음 >> 패킹
    print(args)
    print(*args) # 튜플 언패킹 해서 출력

print_args(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)
1 2 3 4 5 6

In [ ]:
def print_more(num1, num2, *args):
    print(num1, num2)
    print(*args, 'optional')

print_more(1,2) # args는 안넣어줘도 됨

1 2
optional

In [ ]:
# 함수 밖에서도 사용 가능
empty = list(range(10))
print(*empty)

0 1 2 3 4 5 6 7 8 9

In [ ]:
# 행렬, 테이블 데이터
matrix = [
          [1,2],
          [3,4],
          [5,6]
]

# 1, 3, 5, 2, 4, 6 (열만 타고 싶다)
for item in zip(*matrix):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [ ]:
for item in zip([1,2],[3,4],[5,6]):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [ ]:
# 키워드 전용 인수 선언 시 사용
def print_data(data, start, end):
    for item in data[start:end]:
        print(item)

print_data(empty, start = 0, end = 4)

0
1
2
3

kargs : **

In [ ]:
def print_kargs(**kargs): # 키: 값 => 딕셔너리로 반환
    print(kargs)

print_kargs(wine = 'crianza', drink = 'warter')

{'wine': 'crianza', 'drink': 'warter'}

In [ ]:
for wine in ['cabernet', 'crianza', 'shiraz']:
    print_kargs(wine=wine, drink='water')

{'wine': 'cabernet', 'drink': 'water'}
{'wine': 'crianza', 'drink': 'water'}
{'wine': 'shiraz', 'drink': 'water'}

In [2]:
def print_kargs(**kargs):
    kargs['wine'] = 'crianza' # 원하는 것 설정 가능
                              # 키가 없으면 에러 발생하니 get() 사용
    print(kargs)
    
print_kargs(beer='Budwizer', drink='water')

{'beer': 'Budwizer', 'drink': 'water', 'wine': 'crianza'}

In [ ]:
# *, ** 둘 다 사용 가능
# 키워드 전용 인수의 필요성
def print_all(num1,num2,*args,**kargs):
    print(num1, num2)
    print(sum(args))
    print(kargs)

print_all(1,2,3,4,5,num=4)

1 2
12
{'num': 4}

In [ ]:
# 딕셔너리 조인
a = {1: 'a', 2: 'b'}
b = {2: 'c', 3: 'd'}
c = {**a, **b}