#Ch.2 Variable

In [ ]:
#여러개를 동시에 할당 가능
two = deux = dos = 2 #순서는 역순으로 도스 듀트 투 순서로 할당
two

2

In [ ]:
id(two), id(deux)

(94503230974496, 94503230974496)

In [ ]:
# int는 불변객체임 two를 바꿔도 deux dos는 변하지 않음
#id도 바뀜

two = 4
print(two, deux, dos)
id(two), id(deux), id(dos)

4 2 2

(94503230974560, 94503230974496, 94503230974496)

In [ ]:
#반면 리스트는 가변객체임 요소값을 바꾸면 같이 바뀐다

p = [1,2,3]
q = p
p, q

([1, 2, 3], [1, 2, 3])

In [ ]:
p[0] = 9
print(p, q)
id(p), id(q)

[9, 2, 3] [9, 2, 3]

(140473727097424, 140473727097424)

##좋은 변수명
- 간결하고 명확한 이름
- 의미 있는 이름
- 코드에는 의미 주석에는 의도를
  - the number of student<the_number_of_student<num_students
  - 카멜표기법: numStudent (자바에서 주로 사용)

## 자료형 변환

- float에서 int로 바꾸면 소수점 절삭 됨
- str 에서 int나 float로 바꿀때는 주의( ex)str 10.7을 int로 바꾸는 것은 안됨)

In [ ]:
a = 10
type(a)

int

In [ ]:
float(a)

10.0

In [ ]:
str(a)

'10'

In [ ]:
x = 15.5
int(x)

15

In [ ]:
y = 17.8

print(int(x + y))
print(int(x) + int(y)) #두 식의 값이 절삭 때문에 달라짐

33
32

In [ ]:
bool(10)
#bool은 false가 더 적어서 나중에 false인 경우를 보면 됨

True

###print() 꿀팁

In [ ]:
dog = 'dog'
cat = 'cat'
lion = 'lion'

print(dog + cat + lion) #space X, \n
print(dog, cat, lion) #space 0, \n

dogcatlion
dog cat lion

In [ ]:
print(dog, cat, lion, sep=' ', end='\n')
print(dog, cat, lion, sep='/', end='\n\n')
print('EOL')

###문자열 포매팅

In [ ]:
print("My favorite animal is", dog)

print(f'My favorite animal is {dog}')

My favorite animal is dog
My favorite animal is dog

In [ ]:
# 코드 줄이 짧을 때 ;세미콜론으로 한줄로 쓸 수 있다
dog = 'dog' ; cat = 'cat'

##input() 함수

- console에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력 받는 값은 문자열로 인식된다
- 입력 받는 값을 변수에 담아서 사용한다(안그러면 사라짐)
- 숫자일 경우에는 형 변환 필요(기본은 str)

In [ ]:
hi = input('Hello?')

Hello?hi

In [ ]:
age = int(input('나이가 어떻게 되나요?'))

print('age')

나이가 어떻게 되나요?22
age

##Quiz 1.
- 섭씨를 입력 받아서 화씨로 변환하기
- "섭씨 * 1.8 + 32 = 화씨"

In [ ]:

Ctemp = float(input("섭씨 온도를 입력하세요:"))
Ftemp = Ctemp * 1.8 + 32
float(Ftemp)
print(f'화씨 온도는 {Ftemp}입니다.')

섭씨 온도를 입력하세요:14
화씨 온도는 57.2입니다.

##Quiz 2.
- 택배 정보 입력 받고, 총 합계 계산하기
- 출력값: -"==택배 정보=="
  - 수취인 성명:
  - 수취인 주소:
  - 배송비: 3000원
  - 물건 비용: 원
  - 총 합계: 원
- 물건 비용: 무게(g) * 5
- 합계 = 배송비 + 물건 비용

In [ ]:
name = input('수취인 성명: ')
address = input('수취인 주소: ')
weight = int(input('물건 무게: '))
fee = 3000
print()
print('==택배 정보==')
print(f'수취인 성명: {name}')
print(f'수취인 주소: {address}')
print(f'배송비: {fee}원')
print(f'물건 비용: {weight * 5}원')
print(f'총합계: {weight * 5 + fee}원')
print()
print('물건 비용 = 무게(g) * 5')
print('합계 = 배송비 + 물건 비용')

수취인 성명: 배수빈
수취인 주소: 역삼로 000
물건 무게: 250

==택배 정보==
수취인 성명: 배수빈
수취인 주소: 역삼로 000
배송비: 3000원
물건 비용: 1250원
총합계: 4250원

물건 비용 = 무게(g) * 5
합계 = 배송비 + 물건 비용

#Ch03. Numbers

###boolean
- 형 변환 시 True, False 기억
  - '',None,0,...
- 조건식에서 많이 씀

### integer
- 소수점 없음
- default 양수, 음수는 앞에 -를 붙인다.
- 숫자 앞에는 0을 붙일 수 없다. 예: 05
--예외 적으로 0bxxx, => 다른 진수 표현법
- 리터럴: 4 
- 공백이 너무 많아도 무시가 된다.
- 100000원 -> 100000원 두개로 인식

###연산
- 연산자|operator:+,-..
- 피연산자|operandor:4,5..
- 수식|expression

- 거듭제곱 **
- 나눗셈 할때 0으로 나누지 않게 주의!

###복합 대입연산자|compound assignment operator

In [ ]:
a = 5
a = a -3 
#1. a-3 계산
#2, 임시변수 temp = a-3
#3. a = a - 3

a-=3

In [ ]:
a += 3
a -= 3
a *= 3
a /= 3

##Quiz 1.
- 정수를 입력 받고 3의 배수인지 확인하세요.
- = 홀수인지 확인하세요.

In [ ]:
number = int(input('정수를 입력하세요:'))
print(number % 3 == 0)
print(number % 2 == 0)

정수를 입력하세요:10
False
True

###지수 표현 
- e,E 둘다 가능하다
- 앞부분은 float,int
- 뒷부분은 int만 온다.
- 양수면 0 앞으로 음수면 0 뒤로(소수점)

In [ ]:
print(789.0e-6)

0.000789

###조건문, if
- 주석 다는 법
  - 설명하는 부분
  - 목적: 의도를 표현한다.
  - '#' hash, sharp
  - 시작된 부분부터 그 라인에 끝까지가 주석
  - 문자열 안에 들어있는 해시는 문자열로 인식
  -"""<주석>"""

- 라인 유지하기
  - 들여쓰기, 공백 4개, 탭 1개
  - 한 줄에 최대 80자 넘지 않게
  - 백슬래시로 끊어준다

In [ ]:
example = 'hey ###'
print(example)

"""
주석1
주석2
주석3
"""

hey ###

'\n주석1\n주석2\n주석3\n'

- 조건 1개

if <조건식>:

  
     <실행할 코드>

In [ ]:
if 4 != 9:
  print('yeah!')

yeah!

- 조건 2개
  if <조건식1>:

    <실행할 코드1>

    else:

    <실행할 코드2>

조건 3개 이상: if :

    <실행할 코드1>

elif:

    <실행할 코드2>

...

else:

    <실행할 코드n>

#### 비교연산자
- x < y, x =< y
- x > y, x >= y
- x != y (값)
- x == y (값)
- x is y (값, 메모리주소)
- x is not y

##Quiz 1.
- 학점 부여하기
- 학점을 입력 받아서
  - 90점 이상이면 A
  - 80점 이상이면 B
  - 70점 이상이면 C
  - 그외, D
- 변수 설정 유의

In [ ]:
score = float(input('점수를 입력하세요:'))
if score >= 90:
  print('A학점입니다.')
elif score >= 80:
  print('B학점입니다.')
elif score >= 70:
  print('C학점입니다.')
else :
  print('D학점입니다.')

점수를 입력하세요:100
A학점입니다.

##Quiz 2.
- 아이디와 비번 입력 받아서 둘다 일치하면 로그인하기
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤걸로 반환하기

In [ ]:
ID = 'soobin'
PW = 'python'
userID = input('아이디를 입력하세요:')
if userID == ID:
  userPW = input('비밀번호를 입력하세요:')
  if userPW == PW:
   print('로그인 되었습니다.')
  else:
    print('비밀번호가 틀렸습니다.')
else :
  print('존재하지 않는 아이디입니다.')

아이디를 입력하세요:soo
존재하지 않는 아이디입니다.

### 논리연산자
- 여러 조건식을 비교할 때
- 예: 10 < x < 20
  - 파이썬에서만 가능한 표현
  - x > 10 혹은 x <20

- and, &
- or, |
- not

### Quiz 3. 
- Quiz 2. 확장판
- 결석 횟수를 받아서 점수가 80점 이상인데 결석이 두번 이상이면 F, 나머지는 점수대로

In [ ]:
score = float(input('점수를 입력하세요:'))
attend = int(input('결석 횟수를 입력하세요:'))
if score >= 90:
  if attend >= 2:
    print('F학점입니다.')
  else :
    print('A학점입니다.')
elif score >= 80:
  if attend >= 2:
    print('F학점입니다.')
  else :
    print('B학점입니다.')
elif score >= 70:
  print('C학점입니다.')
else :
  print('D학점입니다.')