## 함수
- 1. 정의
- 2. 인수
- 3. 호출 방식

#### 1. 정의
- 코드의 덩어리, 코드의 묶음
- 간편한 재사용을 위해. 한 줄로 재사용 가능하다.
- 정의 부분(define) + 호출 부분(call)
  - 정의하기

  def 함수이름(매개변수 1,2,3...):

      수행문1

      수행문2
    
      ...

      return 반환 값
    - 호출하기

    함수이름(인수1, 2, 3,...)

    - 함수의 4가지 종류
      - 1. 둘 다 없는
      - 2. 둘 다 있는
      - 3. 매개변수만 있는
      - 4. 반환값만 있는

In [4]:
# 1. 둘 다 없는 경우

def make_a_sound():
    print('hoowh!')
    
make_a_sound()

hoowh!

In [2]:
# 2. 둘 다 있는 경우

# y = x + 1 # x는 매개변수, y는 반환값 x+1 수행문

def ex(x):
    # y = x + 1
    # return y
    return x + 1

ex(4)

5

In [3]:
# 3. 매개변수만 있는 경우

def make_a_sound(sound): # sound = 매개변수
    print(sound)

yay = 'yay' # yay = 변수
make_a_sound(yay)

yay

In [5]:
# 4. 반환값만 있는 경우

def agree():
    return True

if agree():
    print('Splendid')
else:
    print('unexpected!')

Splendid

- 함수 이름 짓기
  - 소문자만 사용
    - ex) split_word
  - 동작과 관련되어 있기 때문에 "동사+명사"의 형태 주로 씀
  - i.e., 클래스는 명사. 함수는 명사로만 쓰지 않는게 좋음 def split_word():
  - 줄임말 쓰지 말 것(calculate -> calc 이런건 OK). 명료하게 짓는다.

### 2.인수
- 매개변수 vs. 인수
  - 매개변수: 함수 내("인터페이스")에서 유효한 변수
  - 인수: 실제 매개변수에 대입되는 변수
  - 호출 시에 인수가 매개변수에 복제된다
- 위치 인수
  - positional argument
  - 매개변수를 값에 순서에 상응하게 복제함
- 키워드 인수
  - keyword argument
  - 매개변수 키워드에 맞는 인수로 지정. => 위치 달라도 됨
- 디폴트 인수
  - default argument
  - 매개변수를 정의할 때 값을 미리 지정해놓는 것
  - 호출 시에 값이 입력되지 않으면 기본 값 적용
  - 디폴트 값은 non-deafault 값 뒤에
  - return에 별다른 값 입력 안하면 None이 기본 설정

In [ ]:
def commentary(color):
  if color == 'g':
    return 'green'
  else:
    return 'black'

color = 'white'
#함수 호출하여 g가 아니므로 black이 출력
commentary(color)

'black'

In [ ]:
# 리스트 순회하면서 값 출력 가능
colors = ['g','b','t']

for color in colors:
  print(commentary(color))

green
black
black

In [7]:
#키워드 인수, 디폴트 값 인수

def menu(wine ,entree, dessert):
    return{'wine':wine, 'entree': entree, 'dessert': dessert}

menu('rioja', 'cake','egg')

{'dessert': 'egg', 'entree': 'cake', 'wine': 'rioja'}

In [8]:
#키워드 인수: 위치가 바뀌어도 답이 잘 들어감
menu(entree = 'egg', wine = 'rioja', dessert = 'pancake')

{'dessert': 'pancake', 'entree': 'egg', 'wine': 'rioja'}

In [9]:
# 디폴트 인수
def menu2(wine = 'redwine' ,entree =  'salad', dessert = 'icecream'):
    return{'wine':wine, 'entree': entree, 'dessert': dessert}


print(menu2('rioja','cake','egg'))
#디폴트 값 출력
print(menu2())

{'wine': 'rioja', 'entree': 'cake', 'dessert': 'egg'}
{'wine': 'redwine', 'entree': 'salad', 'dessert': 'icecream'}

### 3. 호출방식
- 정의 부분은 호출 시 시행된다.
- 메모리에 저장되어 있다가 호출 시에
- 매개변수 vs. 인수
  - 참조에 의한 호출(call by reference)
  - "매개변수 = 인수" copy 되기 떄문에 나타나는 문제점
    - 리스트처럼 가변 객체일 때 주소값을 공유하므로 값이 변함

In [ ]:
# 호출 순서 보기
def multiply(x,y):
  print('1')
  return x*y

print('2')
i = 3
j = 4

print('3')
multiply(i, j)

print('4')

2
3
1
4

In [ ]:
# 참조에 의한 호출
def buggy(arg, result=[]):
  result = []
  result.append(arg)
  print(result)

a, b = 'a', 'b'
buggy(a)
buggy(b)

['a']
['b']

In [ ]:
def buggy(arg, result=[]):
    result = [] # 빈 객체로 초기화
    result.append(arg)
    print(result)

a, b = 'a', 'b'
buggy(a) # ['a']
buggy(b) # ['b'] -> 쌓이지 않음

In [ ]:
# 둘다 조건식으로 포함하는 함수로 변경하기
#리스트 없으면 빈 리스트 생성하고 있으면 그거 써라
def nonbuggy(arg, result=[]):
  if result is None:
    result = []
  result.append(arg)
  print(result)

a, b = 'a', 'b'
empty = ['c']
nonbuggy(a) # 리스트 없으면 쌓이지 않음
nonbuggy(b, empty) # 리스트 있으면 쌓임

In [ ]:
# 없는 값 None -> T/F 둘 다 아님
thing = None

if thing: #True
    print('True')
elif thing == False:
    print('False')
else: print('None')

In [10]:
# 함수 내의 변수는 지역변수
def fx():
    city = 'london' # 지역 변수는 함수 내에서만 유효
    print(city)
    
city = 'paris'
fx() # london
print(city) #paris

london
paris

In [11]:
def fx():
    global city # 전역 변수 선언
    city = 'london' 
    print(city)
    
city = 'paris'
fx() # london
print(city) #london

london
london

In [ ]:
city = 'seoul' # 다시 바꾸면 바뀜
city

#### doc string
- 함수 설명
- 매개변수 타입, 의미, 함수 기능
- """이 안에 넣음"""
- help(함수명) 으로 호출

In [12]:
def buggy(arg, result=[]):
    """
    arg: str, 꽃 이름
    result: list, xxxxx
    꽃 이름을 리스트에 추가한다.
    """
    result = []
    result.append(arg)
    print(result)

In [13]:
# 독스트링 확인
help(buggy)

Help on function buggy in module __main__:

buggy(arg, result=[])
    arg: str, 꽃 이름
    result: list, xxxxx
    꽃 이름을 리스트에 추가한다.

###QUIZ
- 나이 -> 연도
  - 함수: 입력값=나이, 반환=연도
  - 나이 = input 받기

In [ ]:
def birthyear(age):
  year = 2022 - age + 1
  return year
birthyear(int(input("나이를 입력하세요: ")))

나이를 입력하세요: 23

2000

In [15]:
import string
import nltk

nltk.download('brown')
brown = nltk.corpus.brown
romance = brown.raw(categories='romance')[:5000]

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!

##문장 분절

In [17]:
# ./. /. \n
sentence = [sent.strip() for sent in romance.split('/.')]
sentence[:2]

['They/ppss neither/cc liked/vbd nor/cc disliked/vbd the/at Old/jj-tl Man/nn-tl .',
 'To/in them/ppo he/pps could/md have/hv been/ben the/at broken/vbn bell/nn in/in the/at church/nn tower/nn which/wdt rang/vbd before/in and/cc after/in Mass/nn-tl ,/, and/cc at/in noon/nn ,/, and/cc at/in six/cd each/dt evening/nn --/-- its/pp$ tone/nn ,/, repetitive/jj ,/, monotonous/jj ,/, never/rb breaking/vbg the/at boredom/nn of/in the/at streets/nns .']

In [18]:
sentence = [s for s in sentence if s != '!']

## 단어 분절

In [22]:
example = sentence[0]
[word[:word.find('/')] if word[:word.find('/')] else word for word in example.split()]

['They', 'neither', 'liked', 'nor', 'disliked', 'the', 'Old', 'Man', '.']

In [23]:
# 전체문장에 적용
sent_tokens = [[word[:word.find('/')] \
     if word[:word.find('/')] else word # punct에 있으면 버리기
         for word in example.split()] for example in sentence]

## punctuations

In [19]:
punct = list(string.punctuation)

In [24]:
# 제거
clean_sent_tokens = [[word for word in sent if word not in punct] for sent in sent_tokens]

In [25]:
# 남은 문장부호
my_punct = set([word for sent in sent_tokens for word in sent if not word[0].isalnum() and word not in punct])
punct.extend(list(my_punct))

In [26]:
# 하이픈
'fur-piece'.split('-') #extend
# 's
word = "she's"
index = word.find("'")
word[:index], word[index:]

('she', "'s")

In [27]:
# 함수로: 문장이 들어왔을 때 POS 제거하고, punct 제거하고, 토큰리스트로 반환한다.
sentence = [sent.strip() for sent in romance.split('/.')]
def tokenize_word(text):
    token_list = text
    return [word[:word.find('/')] for word in token_list.split() if '/' in word and word not in punct]
tokenize_word(sentence[0])

['They', 'neither', 'liked', 'nor', 'disliked', 'the', 'Old', 'Man']