## Dictionary
- 사전과 비슷한 구조
  - 단어: 뜻
  - 키:값
  - 순서가 없다. => 인덱싱 불가능
  - "키로 값을 찾는다."
    - 키는 중복되지 않는 고유한 값
  - 가변: 수정, 삭제, 추가, 가능
  - 타입: dict
  - 형변환: 'dict()'
  - 중괄호 사용 {}, 콤마로 구분함
  - 값에 다양한 자료구조가 올 수 있음
    - a: 1, a: [1,2,3,4]

In [ ]:
# 빈 딕셔너리 선언
empty = dict()
empty_dict = {}
print(type(empty_dict))

1

In [ ]:
empty = dict{}
empty = {}
# set도 {}이니 혼동 주의
empty = {}
empty = set)()
type(empty)

In [ ]:
a = {1,2,3}
a = {1:'appple', 2:'bannana', 3:'kiwi'}

In [ ]:
c = {'':'', '':'', '':''}
c = dict(apple='a', banana='b', kiwi='c') # '키' 안해도 됨
c

In [ ]:
# 출석부로 딕셔너리 만들기
# 이름, 학번, 학과
attend_book = {202201:'james, 경제학과', 202203:'laura, 스페인어과', 202202:'louis, 컴공과'}
attend_book

{202201: 'james, 경제학과', 202202: 'louis, 컴공과', 202203: 'laura, 스페인어과'}

### 형변환
- key, value 있을 때 가능

In [ ]:
# 리스트에서
ex1 = [[1, 2],[2, 3],[3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [ ]:
# 튜플에서
ex2 = [(1,2), (2,3), (1,3)]
dict(ex2)

{1: 3, 2: 3}

In [ ]:
# 키가 같다면 마지막 것만

ex2 = [[1, 2], [2, 3], [1, 3]]
dict(ex2)

In [ ]:
# 문자열에서
ex3 = ['ab','bc','cd']
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

##항목 조회 & 변경

In [1]:
pythons = {
    'Chapman': 'Graham',
    'Cleese':'John',
    'Idle':'James',
    'Johns':'Terry',
    'Palin':'Michael'
}

In [2]:
# 조회(key로 value를 찾음)
# 없는 값이면 오류발생
pythons['Idle']

'James'

In [3]:
# 오류 막는 조회
# 1. 딕셔너리에 값 있는지 확인하기
print('Hwa' in pythons)

# 2. get() -> 있으면 값 반환, 없으면 None
print(pythons.get('Lee'))

# 3. 반환값 직접 설정
print(pythons.get('Lee', 0))

False
None
0

In [4]:
# 변경(기존 키에 다른 밸류)
pythons['Idle'] = 'james'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'james',
 'Johns': 'Terry',
 'Palin': 'Michael'}

In [5]:
# 새로 추가
pythons['Hwa'] = 'Chloe'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Hwa': 'Chloe',
 'Idle': 'james',
 'Johns': 'Terry',
 'Palin': 'Michael'}

In [6]:
# 여러 개 추가 시 update사용(병합)
# 원래 있던 키 변경하면 마지막에 추가 된 값 적용
others = {
    'Marx':'Groucho', 
    'Howard':'Moe'
}

pythons.update(others)
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Howard': 'Moe',
 'Hwa': 'Chloe',
 'Idle': 'james',
 'Johns': 'Terry',
 'Marx': 'Groucho',
 'Palin': 'Michael'}

In [7]:
# python3에서만 가능한 추가 방법
new = {
    'A':'B',
    'C':'D'
}

print({**pythons, **new})
print({**new, **pythons}) # 앞에 넣냐 뒤에 넣냐 따라 다름

{'Chapman': 'Graham', 'Cleese': 'John', 'Idle': 'james', 'Johns': 'Terry', 'Palin': 'Michael', 'Hwa': 'Chloe', 'Marx': 'Groucho', 'Howard': 'Moe', 'A': 'B', 'C': 'D'}
{'A': 'B', 'C': 'D', 'Chapman': 'Graham', 'Cleese': 'John', 'Idle': 'james', 'Johns': 'Terry', 'Palin': 'Michael', 'Hwa': 'Chloe', 'Marx': 'Groucho', 'Howard': 'Moe'}

In [8]:
# 삭제
del pythons['Hwa']
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Howard': 'Moe',
 'Idle': 'james',
 'Johns': 'Terry',
 'Marx': 'Groucho',
 'Palin': 'Michael'}

In [9]:
# 값 반환 뒤 삭제
pythons.pop('Marx')

'Groucho'

In [ ]:
# 전체 삭제

# 1. 
pythons.clear()

# 2. 
pythons = {}

pythons

### 전체 조회
- keys()
- values()
- items()

In [11]:
pythons.keys()

dict_keys(['Chapman', 'Cleese', 'Idle', 'Johns', 'Palin', 'Howard'])

In [12]:
pythons.values()

dict_values(['Graham', 'John', 'james', 'Terry', 'Michael', 'Moe'])

In [13]:
# key, value 조회 튜플 형태로(순회 시 사용)
pythons.items()

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'james'), ('Johns', 'Terry'), ('Palin', 'Michael'), ('Howard', 'Moe')])

In [15]:
# item 순회
for k, v in pythons.items():
    print(f'{k} = {v}')

# 리스트 컴프리헨션
print([ (k, v) for k, v in pythons.items() ])

Chapman = Graham
Cleese = John
Idle = james
Johns = Terry
Palin = Michael
Howard = Moe
[('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'james'), ('Johns', 'Terry'), ('Palin', 'Michael'), ('Howard', 'Moe')]

In [ ]:
# items() 는 튜플 형태이므로 인덱싱 가능
# 0은 key 1은 value

[ k[0] for k in pythons.items() ]

###딕셔너리 실습2
- animal:num_leg 딕셔너리 만들기
- animal = 'cat snake monkey ant spider'.split()
- legs = 4, 0, 2, 4, 8

In [ ]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [ ]:
# 1. 
num_leg = {}
for k, v in zip(animal, legs):
    num_leg[k] = v
print(num_leg)

# 2. 
print(dict([ (k, v) for k, v in zip(animal, legs) ]))

# 3.
print({ k:v for k, v in zip(animal, legs) })

{'ant': 4, 'cat': 4, 'monkey': 2, 'snake': 0, 'spider': 8}

### 딕셔너리 실습 3
- Pythons에서 성:이름, 성 첫 글자만, 이름은 글자 개수로 이뤄진 튜플 리스트로 반환하기
- dict comp 안됨

In [ ]:
pythons.items()

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'Jones'), ('Palin', 'Michael')])

In [16]:
# 1.
newpy = []
for i,k in pythons.items():
  newpy.append((i[0],len(k)))
newpy
# 2. 
print([ (k[0], len(v)) for k, v in pythons.items() ])

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 3)]

### 복제
- 리스트와 유사
- 할당
- 얕은 복사
- 깊은 복사

In [21]:
# 할당: b 값도 같이 변함
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a,b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [17]:
# 얕은 복사
a = {1:[2,3], 2:[2,3,4]}
d = a.copy()
a[1][0] = 100
a, d

({1: [100, 3], 2: [2, 3, 4]}, {1: [100, 3], 2: [2, 3, 4]})

In [ ]:
# 깊은 복사는 변하지 않음
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999], 2: [2, 3, 4]}, {1: [100, 3], 2: [2, 3, 4]})

### 비교
- 같다 다르다
- 크고 작고는 안됨

In [22]:
a != b

False

### 실습 4
- 두 개의 리스트로 하나의 딕셔너리 생성
- 명왕성 = pluto 추가
- '성'으로 끝나지 않는 키 삭제
- del dict1['태양'] 같은 방법 지양
- sorted 이용해서 값 정렬 i)key 기준 ii)value 기준

In [25]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [ ]:
engkor_solar = {}
for i in range(len(solar_kor)):
    if solar_kor[i].endswith('성'):
      engkor_solar[solar_kor[i]] = solar_eng[i]
pluto = {'명왕성':'pluto'}
engkor_solar.update(pluto)
engkor_solar

{'금성': 'venus',
 '명왕성': 'pluto',
 '목성': 'jupiter',
 '수성': 'mercury',
 '천왕성': 'uranus',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [27]:
solar = { name:value for name, value in zip(solar_kor, solar_eng) }
solar = dict([ (k, v) for k, v in solar.items() if k.endswith('성') ])
solar

{'금성': 'venus',
 '목성': 'jupiter',
 '수성': 'mercury',
 '천왕성': 'uranus',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
kor_eng = dict([(kor,eng) for kor,eng in zip(solar_kor,solar_eng) if kor.endswith('성')])
pluto = {'명왕성':'pluto'}
kor_eng.update(pluto)
kor_eng

{'금성': 'venus',
 '명왕성': 'pluto',
 '목성': 'jupiter',
 '수성': 'mercury',
 '천왕성': 'uranus',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

### 딕셔너리 컴프리헨션

In [ ]:
letter = 'apple'
{ch : letter.count(ch) for ch in letter}

{'a': 1, 'e': 1, 'l': 1, 'p': 2}

In [ ]:
vowels = 'aeiou'
word = 'onomatapoeia'
{ch : word.count(ch) for ch in vowels}

{'a': 3, 'e': 1, 'i': 1, 'o': 3, 'u': 0}

##Sorting

In [28]:
# sorted > key 만 가져감
sorted(solar)

['금성', '목성', '수성', '천왕성', '토성', '해왕성', '화성']

In [29]:
def fx(x):
    # 0은 key, 1은 value
    return x[0]

sorted(solar.items(), key=fx)

[('금성', 'venus'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

In [ ]:
# lambda 함수
sorted(kor_eng.items(), key=lambda x: x[0])

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

## Set
- "중복이 없다"
- "집합 => 교집합,합집합,차집합,..."
- bag,인덱싱도 없다

In [31]:
# set 선언
empty = set()
empty

set()

In [ ]:
# 값 있을 때는 그냥 넣기
a = {1, 2, 3}

# 튜플이나 리스트로 묶어주고 넣기
b = set((1, 2, 3))

a, b

In [33]:
# 추가
a.add(4)
print(a)

# 삭제
a.remove(4)
a

{1, 2, 3, 4}

{1, 2, 3}

In [35]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

In [36]:
for drink,inner in drinks.items():
  if 'vodka' in inner and 'cream' not in inner and 'vermouth' not in inner:
    print(drink)

black russian
screwdriver

In [37]:
for drink,inner in drinks.items():
  if 'vodka' in inner:
    print(drink)

martini
black russian
screwdriver

# 교집합
a.intersection(b)
# 합집합
a.union(b)
# 차집합
a.difference(b)

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}
# 교집합
print(a.intersection(b))
print(a & b)
print()
# 합집합
print(a.union(b))
print(a | b)
print()
# 차집합
print(a.difference(b))
print(b.difference(a))
print(a - b, b - a)

({1}, {4})

In [ ]:
# set을 활용
for k, v in drinks.items():
    if 'vodka' in v and not (v & {'cream', 'vermouth'}):
        print(k)

In [39]:
# set comprehension
{ s for s in range(5) }

{0, 1, 2, 3, 4}

In [ ]:
# frozenset: 가변 객체를 불변 객체로 만듦

set([1, 2])
frozenset([1, 2])